@page "/trainers"
@inject ITrainerService TrainerService
@inject NavigationManager NavManager

<h3>Activities</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainer in TrainerService.Trainers)
        {
            <tr>
                <td>@trainer.Name</td>
                <td>@trainer.Surname</td>
                <td>@trainer.Email</td>
                <td>@trainer.Gender</td>
            </tr>
        }
    </tbody>
</table>

@code{
    protected override async Task OnInitializedAsync()
    {
        await TrainerService.LoadTrainers();
    }
}
